
$color_f9 : #F9F9F9;
$color_ed : #EDF2F6;
$color_63 : #639EF4;
$color_f3 : #F39A24;
$color_c8 : #C8C8C8;
$color_4a : #4a4a4a;

$border_c8 : solid #C8C8C8 1px;

$radius50 : 50%;
$radius3 : 3px;
$p100 : 100%;

.inline-block{
  display: inline-block;
}

.back-all{
  background-color: $color_f9;
}

